<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/about.css">
    <title>About Us</title>
</head>

<body>
    <div class="container">
        <div class="nav-bar">
            <div class="logo">
                <a href="#"> <img src="/images/logoayudar .png" alt="logo" id="logo"></a>


                <h2 id="logo-name">AYUDAR</h2>
                <h4 id="tagline">Reviving nature</h4>
            </div>
            <div class="nav-links flex">
                <ul class="flex">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="ngo.html">NGOs</a></li>
                    <li><a href="login.html">Join Us</a></li>
                    <li><a href="payment.html">Donate</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="about">
        <img src="/images/logoayudar .png" alt="" class="src">
        <p class="para">Welcome to our platform, where environmental non-governmental organizations (NGOs) and concerned
            individuals come
            together for a common cause. We provide a space for trustworthy environmental NGOs to showcase their work,
            generate
            funds, and attract volunteers for their organizations. At the same time, we offer a platform for individuals
            who are
            passionate about environmental issues to discover and support causes that align with their values.
            <br>
            <br>
            Our platform serves
            as a hub for environmental activism, where NGOs can connect with like-minded individuals who share their
            vision and
            support their efforts. Our goal is to create a community of environmentally conscious people who are
            committed to making
            a positive impact on our planet.
            <br>
            <br>
            We as an organization makes sure that all the NGOs listed on our platform are genuine
            and really committed to their cause. We give the member NGOs a certain quota of reducing carbon emmission.
            The member
            NGOs are awarded certain points that can be utilised to generate funds by various of our funders and
            investors.
            <br>
            <br>
            We
            believe that everyone has a role to play in protecting the environment, and we are committed to making it
            easier for
            NGOs and individuals to join forces and effect meaningful change. With our platform, we hope to create a
            world where
            environmental issues are at the forefront of public consciousness, and where NGOs have the resources and
            support they
            need to make a real difference.
        </p>
    </div>
</body>
</html>