 <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/CSS/ngo.css">
        <title>NGOs</title>
    </head>

    <body>
        < <div class="nav-bar">
            <div class="logo">
                <a href="#"> <img src="/images/logoayudar .png" alt="logo" id="logo"></a>


                <h2 id="logo-name">AYUDAR</h2>
                <h4 id="tagline">Reviving nature</h4>
            </div>
            <div class="nav-links flex">
                <ul class="flex">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="ngo.html">NGOs</a></li>
                    <li><a href="login.html">Join Us</a></li>
                    <li><a href="payment.html">Donate</a></li>
                </ul>
            </div>
            </div>
            <div class="ngo">
                <div class="logo-ngo">
                </div>
                <h3 class="details" >
                    Name: YogDaan Foundation
                    <br>
                    <br>
                    Location: Pune
                </h3>
                <button class="see-work" onclick="">
                    <h4 id="placeholder1">See More</h4>
                </button>

            </div>
            <div class="ngo-1">
                <div class="logo-ngo">

                </div>
                <h3 class="details" >
                    Name: Greenpeace India
                    <br>
                    <br>
                    Location: Banglore
                </h3>
                <button class="see-work" onclick="">
                    <h4 id="placeholder1">See More</h4>
                </button>
            </div>
            <div class="ngo-2">
                <h3 class="details" >
                    Name: Vanshakti
                    <br>
                    <br>
                    Location: Lucknow
                </h3>
                <button class="see-work" onclick="">
                    <h4 id="placeholder1">See More</h4>
                </button>

            </div>
            <div class="ngo-3">
                <h3 class="details" >
                    Name: Catch Foundation
                    <br>
                    <br>
                    Location: Pune
                </h3>
                <button class="see-work" onclick="">
                    <h4 id="placeholder1">See More</h4>
                </button>

            </div>

            <script src="https://kit.fontawesome.com/a6a76f1360.js" crossorigin="anonymous"></script>
    </body>
</body>

</html>
</body>