<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/payment.css">
    <title>Payment</title>
</head>

<body>
    <div class="container">
        <div class="nav-bar">
            <img src="/images/logoayudar .png" alt="logo" id="logo">
            <h2 id="logo-name"><a href="index.html" style="color: white;">AYUDAR</a></h2>
            <h4 id="tagline">Reviving nature</h4>
        </div>
        <div class="payment">
            <!-- <img src="/images/pexels-deva-darshan-1173777.jpg" alt="" id="background"> -->
            <div class="text-box">
                <h3 class="heading">DONATE NOW</h3>
                <i class="fa-solid fa-lock fa-xl" id="lock"></i>
                <h4 id="encryption">Your payment is encrypted</h4>
                <h2 id="choice">Choose how to pay</h2>
                <div class="cards-payment">
                    <h4 id="credit-debit">Credit/Debit Card</h4>
                    <i class="fa-brands fa-cc-visa fa-2xl" id="visa"></i>
                    <i class="fa-brands fa-cc-mastercard fa-2xl" id="master"></i>
                    <i class="fa-solid fa-arrow-right fa-2xl" id="arrow1"></i>
                    <i class="fa-brands fa-cc-amex fa-2xl" id="aexpress"></i>
                </div>
                <div class="cards-payment2">
                    <h4 id="credit-debit">UPI/Wallet</h4>
                    <i class="fa-brands fa-cc-paypal fa-2xl" id="paypal"></i>
                    <i class="fa-brands fa-google-pay fa-2xl" id="gpay"></i>
                    <i class="fa-solid fa-arrow-right fa-2xl" id="arrow1"></i>
                    <<i class="fa-brands fa-cc-amazon-pay fa-2xl" id="amazonpay"></i>
                </div>
                <!-- <div class="cancel-payment"> -->
                    <button class="signin-button" onclick="location.href = 'index.html'">
                        <h4 id="cancel" style="color: white; font-weight: 600; text-align: center; left: 20%; top: 20%;right:20%; font-size: 23px;" id="cancel-heading">Cancel</h4>   
                    </button>
                    
                <!-- </div> -->
            </div>
        </div>

    </div>
    <script src="https://kit.fontawesome.com/a6a76f1360.js" crossorigin="anonymous"></script>
</body>

</html>